* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  widows: 100vw;
  background-image: url(https://images.pexels.com/photos/1534171/pexels-photo-1534171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}

header {
  position: absolute;
  top: 0;
}

.title {
  position: relative;
  top: 2rem;
  left: 0;
  right: 0;
  text-transform: capitalize;
  color: aquamarine;
  font-size: 4rem;
  text-align: center;
  height: 100%;
  margin-top: 1rem;
  color: #FCFCFB;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

/* ENVELOPE */
.envelope-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.envelope {
  width: 36rem;
  height: 25rem;
  background: #E9D9DA;
  /* background-image: url(https://images.pexels.com/photos/132200/pexels-photo-132200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.triangle-wrap {
  perspective: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.triangle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 18rem solid transparent;
  border-right: 18rem solid transparent;
  border-top: 18rem solid #585345;
  transform-origin: top;
  z-index: 50;
}


.triangle-shadow {
  position: relative;
  width: 0;
  height: 0;
  border-left: 18rem solid transparent;
  border-right: 18rem solid transparent;
  border-top: 18rem solid rgba(0, 0, 0, 0.3);
}

.flip {
  animation: flip .9s forwards;
}
.unflip {
  animation: unflip .6s forwards;
}

.fadeout {
  animation: fadeout .8s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    -moz-transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
  }
}

@keyframes unflip {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}


/* PAPER */
.paper {
  position: absolute;
  background-image: radial-gradient( circle 641px at 6.6% 99.2%,  rgba(212,163,155,1) 0%, rgba(1,91,124,1) 90% );
  width: 70rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in;
  display: none;
}

@keyframes open {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.open {
  animation: open .7s forwards;
  display: block;
}

.paper .subtitle {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  letter-spacing: .4rem;
}

.cards {
  display: grid;
  margin: 0 auto;
  padding: 1rem;
  height: 80%;
  align-items: center;
  grid-template-columns: repeat(4, 150px);
  justify-content: space-around;
  grid-gap: 1.5rem;
}

.card {
  background: #ccc;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  height: 12rem;
  cursor: pointer;
}

.card-wrap {
  perspective: 1000px;
  position: relative;
  height: 100%;
}

.card-cover {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 50;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-origin: top;
  -moz-backface-visibility: hidden;
}

.front {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}


.card-cover .back {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  background: white;
}

.card-cover h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.card-cover span {
  font-size: 2.5rem;
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

.card-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.card-inner p {
  font-size: 1rem;
  letter-spacing: 1px;
}

.detail-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 40rem;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  width: 40rem;
  background: #ccc;
  z-index: 100;
}

.detail {
  display: flex;
  text-align: center;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: .5 rem 1rem;
}

.detail p {
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 600px){
  .paper {
    width: 100vw;
    height: 80vh;
    bottom: 0;
  }

  .paper .subtitle {
    margin-top: 4rem;
  }
  
  .cards {
    width: 100%;
    grid-template-columns: repeat(2, 150px);
    background-size: top;
  }

  .card {
    height: 9rem;
  }

  .detail-wrap {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}